
body{
    background: linear-gradient(to right, rgb(87, 21, 21), rgb(104, 47, 47), rgb(155, 103, 103));
    background-size: 100% 200%;

}

.box1{
    background-color: rgba(124, 122, 122, 0.681);
    border: solid 3px white;
    width: 600px;
    height: auto;
    margin-left: 30%;
    box-shadow: 1px 6px 35px;
    color: rgb(84, 59, 107);
    border-radius: 3%;
}
.enviar{
    background-color: black;
    color: white;
}

.formulario{
    color: black;
    margin-left: 4%;
}

h2{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.logo{
    position: fixed;
    top: 2%;
    width: 200px;
    height: 200px;
    background-color: rgb(87, 21, 21);
    border-radius: 50%;
    box-shadow: 19px 15px 18px;
    color: white;
   
}

.box2{
    background-color: rgba(124, 122, 122, 0.681);
    border: solid 3px white;
    width: 850px;
    height: auto;
    margin-left: 22%;
    box-shadow: 1px 6px 35px;
    color: rgb(84, 59, 107);
    border-radius: 3%;
}

.tabla{
    margin-left: 1.5%;
    margin-right: 1.5%;

}

thead{
    background-color: rgb(215, 215, 215);
}

th{
    color: black;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 tbody, td{
    margin-left: 7%;
    color: black;
    border: solid 1px white;
    font-family: Arial, Helvetica, sans-serif;

}
th, td{
    width: 125px;
    text-align: center;
}

input{
    border: solid 1px red;
}

.forma{
    width: 10cm;
}